section.stack.py-6.bg-warning.px-xxl-5.px-3(id="stack")
  footer.footer
    .container
      .row
        .col-md-11.col-dlg-10.mx-auto.col-xl-9.col-xxl-8.col-3xl-6
          h3 This website is built using 
            code vue.js && pug.js 
            span while using airtable as a data source.
            a.text-dark.btn.btn-link(href="https://github.com/msamricth/portfolio-project" target="_blank") View on  
              .fa-brands.fa-github 