section.skills.py-6.bg-secondary.px-xxl-5.px-3(id="skills")
    .container-fluid
        h3.mb-0.fadeScroll Featured Skillsets
        p.mb-xl-5.mb-3.fadeScroll Languages / Tech Stacks / Frameworks / and everything in-between. 
        .skillsets.row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-dlg-4.row-cols-3xl-5.g-2.mb-6(id="skillsets")
            .skillsets__col.col(v-for="record in skillsets" v-bind:key="record.Title")
                button.skillsets__col--btn.bounce-card.fadeScroll.card.border-0.rounded-0(type="button" :data-skillTarget="'#' + record['fields']['Name']" onclick="showSKillz()")
                    .card-body
                        h5.card-title {{ record['fields']['Name'] }}
                        .d-flex
                            i(:class="record['fields']['icon']")
                            p.small(v-if="record['fields']['Number']") Associated experience: 
                                span(v-html="record['fields']['ListTags']")
                                em.text-muted.small.d-block.mt-2
                                    span {{ record['fields']['Number'] }} 
                                    span {{ record['fields']['Statement'] }}