section.skills.py-6.bg-secondary.px-xxl-5.px-3(id="skills")
    .container-fluid
        h3.mb-0.fadeScroll Featured Skillsets
        p.mb-5.fadeScroll Languages / Platforms / frameworks / and everything in-between. 
        .skillsets.mb-6(id="skillsets")
            .col(v-for="record in skillsets" v-bind:key="record.Title") 
                h4 {{ record['fields']['Name'] }}
                ul.list-group.list-group-flush(v-html="record['fields']['list']")