<div id="work">
    <h3>Work</h3>
    <ul>
        <li v-for="record in records" v-bind:key="record.Title">
            <div class="card {{ record['fields']['Size'] }}">
                <div class="card-header">
                    <em>{{ record['fields']['Project'] }}</em>
                    <h3>{{ record['fields']['Client'] }}</h3>
                </div>
                <img :src="record['fields']['Image'][0]['url']" alt="" v-if="record['fields']['Image']" class="card-img-top">
            </div>
        </li>
    </ul>            
</div><!--app-->