extends ./layouts/work.pug

block vars
  - pageTitle = "Dr Martens - DM Celebrating Black Voices";
  - bodyClass = "dm-cbv";
  - recordID = "rec1TLQlYCzbcAgG3";

block content
  // Main
  main.main(id="work" data-record="rec1TLQlYCzbcAgG3")
    .d-flex.justify-content-center.py-8.loader
        .spinner-border.text-dark(role="status")
            span.visually-hidden Loading...
    include partials/work-page.pug
    include partials/footer.pug