extends ./layouts/work.pug

block vars
  - pageTitle = "Dr Martens - DM Presents";
  - bodyClass = "dm-presents";
  - recordID = "recKB8F6g2wFikQBY";

block content
  // Main
  main.main(id="work" data-record="recKB8F6g2wFikQBY")
    .d-flex.justify-content-center.py-8.loader
        .spinner-border.text-dark(role="status")
            span.visually-hidden Loading...
    include partials/work-page.pug
    include partials/footer.pug