extends ./layouts/home.pug

block vars
  - pageTitle = "Home";
  - bodyClass = "home";

block content
  // Main
  main.main(id="home")
    // Section
    section.header
      .container.py-5
        h1.placeholder.mb-0(id="siteTitle")
        p.placeholder(id="tagline")

        include partials/work.pug
        include partials/footer.pug