extends ./layouts/home.pug

block vars
  - pageTitle = "Home";
  - bodyClass = "home";

block content
  // Main
  main.main(id="home")
    // Section
    section.header
      .container-fluid.px-4.py-5.fadeScroll
        h1.placeholder.mb-0(id="siteTitle")
        p.placeholder(id="tagline")
      .workbtn-container 
        a.breathing-button.btnlink.d-inline-block(href="#work") View Work 
          i.bi.bi-arrow-return-left
    include partials/work.pug
    include partials/skills.pug
    include partials/footer.pug