extends ./layouts/work.pug

block vars
  - pageTitle = "Past Projects";
  - bodyClass = "past-projects";
  - recordID = "viw0qB9vdMAEdujmS";

block content
  // Main
  main.main(id="work" data-record="viw0qB9vdMAEdujmS")
    .d-flex.justify-content-center.py-8.loader
        .spinner-border.text-dark(role="status")
            span.visually-hidden Loading...
    include partials/work-page.pug
    include partials/footer.pug