<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="js/airtable.browser.js"></script>
    </head>
    <body>
        <h1>Artists</h1>
        <div id="artists"></div>
        <button onclick="fetchNextPage()">more projects</button>
    </body>


    <script>
    </script>
</html>