@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 100;
  src: local('SF UI Display Ultralight'), url('/assets/fonts/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
  }

  @font-face {
    font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  src: local('SF UI Display Light'), url('/assets/fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
  }
  
  @font-face {
    font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Display Medium'), url('/assets/fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
  }

  @font-face {
    font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  src: local('SF UI Display Bold'), url('/assets/fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Vollkorn:ital@0;1&display=swap');
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #bbb;
$gray-600: #27373f;
$gray-700: #213037;
$gray-800: #222;
$gray-900: #001011;
$black: #000;
$blue: #7E9AFF;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #FA80B4;
$red: #e51c23;
$orange: #fd7e14;
$yellow: #FAED83;
$green: #4CAF50;
$teal: #20c997;
$cyan: #9C27B0;
$primary: $blue;
$secondary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$body-color: $gray-900;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;
$headings-font-family: 'Poppins', sans-serif;
$grid-breakpoints: ( xs: 0, smm: 320px, sm: 576px, md: 768px, lg: 992px, dlg: 1024px, xl: 1290px, xxl: 1440px, 3xl: 1920px, 4xl: 2400px  );
$font-size-base: 1.125rem;
$h3-font-size: 1.9375rem;
$h1-font-size: 6.5625rem;
$h2-font-size: 4.5rem;
$headings-font-weight: 900;
$border-radius: 5;
$font-family-sans-serif: 'SF UI Display', sans-serif;
$btn-font-family: $headings-font-family;
$btn-font-weight: 700;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1.1rem;
$input-btn-font-size: .9rem;
$badge-font-size: 125%;
$badge-padding-y: 1.1em;
$badge-padding-x: 1.6em;
$font-weight-bolder: 900;
$font-size-sm: 0.75rem;

$lightPink: lighten($secondary, 10%);
$componentPink: lighten($secondary, 8%);
$componentBlue: lighten($primary, 8%);
$componentBlueHover: lighten($primary, 18%);
$darkPink: darken($secondary, 25%);

$md-darkpink: #361222;
$md-lightpink: #ffb2e6;

$colors: ("blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-900, "gray-mid": $gray-700 );
$theme-colors: (
  "primary":    $primary,
  "secondary":  $pink,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.75,
  5: $spacer * 3.625,
  6: $spacer * 5,
  7: $spacer * 6.25,
  8: $spacer * 8.5,
  9: $spacer * 10,
  10: $spacer * 12.5,
  12: $spacer * 15,
  13: $spacer * 17.5,
  14: $spacer * 19,
  15: $spacer * 20.5,
  16: $spacer * 22,
  17: $spacer * 23.125,
  18: $spacer * 25,
  19: $spacer * 26.5,
);
$Vollkorn: 'Vollkorn', serif;
.volk {
  font-family: $Vollkorn;
}
.bg-transparent {
  background-color: transparent !important;
}